.mat-dialog-title {
    margin: 0;
}

.mat-dialog-content {
    padding: 1rem;
}

.input-row {
    display: flex;
    gap: 10px;
    mat-form-field {
        width: 50%;
    }
}

.input-row.adress {
    mat-form-field {
        width: 100%;
        margin-top: 1rem;
    }
}

.input-row.mail {
    mat-form-field {
        width: 100%;
    }
}
 
.checkboxes {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
    padding-bottom: 22px;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}