.overlay {
  position: fixed;
  inset: 0;
  background-color: #141d2f;
  background-image: url('/assets/img/curve_vector.png'), linear-gradient(to bottom, #4f5c6b, #141d2f);
  background-position: right 0% bottom 160%;
  background-size: cover;
  background-repeat: no-repeat;
}

.login-container,
.signup-success-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
  padding: 4rem;
  border-radius: 20px;
  box-shadow: 0 0 4px 0 rgb(0 0 0 / 10%);
  gap: 1rem;

  h1 {
    font-weight: 600;
    font-size: 2.5rem !important;
    font-weight: 600;
    font-size: 1.7rem;
    border-bottom: 3px solid #141d2f;
    padding-bottom: 18px;
  }

  .mat-mdc-form-field {
    width: 450px;
  }

  .login-button-wrapper {
    display: flex;
    gap: 1rem;
    justify-content: center;
  }

  
}

.login-header-container {
  display: flex;
  padding: 1rem 2rem;
  justify-content: space-between;
  align-items: center;

  div {
    font-size: 1.2rem;
    display: flex;
    gap: 1rem;
    align-items: center;

    
  }

  .signup-header-container {
    cursor: pointer;
    transition: 225ms all ease-in-out;
    gap: 0.5rem;

    mat-icon {
      color: white;
    }
  }
}

.signup-success-container {
  padding: 8rem;
  div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
  }

  h2 {
    margin: 0;
  }

  mat-icon {
    color: green;
    transform: scale(2);
  }
}

.login-btn, .signup-btn {
  background-color: #141d2f !important;
  color: white !important;
  transition: 225ms all ease-in-out;
  &:hover {
    background-color: #29abe2 !important;
  }
}

.signup-btn {
  outline: 1px solid white;
}

.btn {
  font-size: 1.1rem;
}

.login-signup-prompt {
  margin: 0;
  color: white;
}