h1 {
    font-size: 2rem;
    margin-top: 1rem;
}

h2 {
    font-size: 1.5rem;
    margin-top: 1.5rem;
    text-decoration: underline;
}

.step {
    font-size: 1.3rem;
    margin-top: .5rem;
}

button {
    background-color: #141d2f;
    padding: .5rem 1rem;
    border-radius: .5rem;
    color: white;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    margin-top: 1rem;
}