<h1>Welcome to Toolio CRM</h1>
<h2>What is Toolio?</h2>
<p>A lightweight customer relationship management tool, that allows you to create clients, upload client documents, create projects and set client events.</p>
<h2>How to use it?</h2>
<h3 class="step">1. Dashboard</h3>
<p>On the dashboard page, click on widgets to try out their functionality. You can also reposition widgets by dragging them around. The notifications widget displays all calendar events with a start date set to today.</p>
<h3 class="step">2. Clients</h3>
<p>To create a new client, click on the add (+) button and enter all necessary data. Once you have created a client you can click on the <b>"Details"</b> link to get a detailed view of the client data. In the following, you can update client data, delete the client or upload documents and create projects that get labelled and sorted automatically by deadline.</p>
<h3 class="step">3. News</h3>
<p>Stay up-to-date with the 'News' section. Thanks to the integration of the Gnews API, you receive daily current news from the world that are trending on Google Notifications. Click on read more to to navigate to the respective news page.</p>
<h2>The idea behind toolio</h2>
<p>When administering my clients I was missing a concise overview over my client data. Hence I started looking into existing CRM systems but could not find one that fit my needs. So I came up with the idea to build one on my own. So I came up with Toolio which is customized to my personal needs. 
</p>
<button (click)="openDialog()">Revisit Tutorial</button>