<h1 mat-dialog-title class="mat-dialog-title">Notes</h1>
<div mat-dialog-content class="mat-dialog-content">
  <div class="notes-container">
    <ul>
      <li *ngFor="let note of data.data[0].notes; let i= index">
        {{ note }} <mat-icon (click)="deleteNote(i)">delete</mat-icon>
      </li>
    </ul>
  </div>
  <div class="cta-btn-container">
    <mat-form-field appearance="outline">
      <mat-label>Add note to notepad</mat-label>
      <input matInput [(ngModel)]="currenNote">
      <mat-icon (click)="saveNote()" matSuffix>save</mat-icon>
    </mat-form-field>
    <div mat-dialog-actions>
      <button mat-button cdkFocusInitial [mat-dialog-close]="data.data">
        Close
      </button>
    </div>
  </div>
</div>
