.login-body-blue {
  background-color: #141d2f;
}

.sidenav-container {
  height: 100vh;
}

.mat-drawer-side {
  box-shadow: inset -10px 0px 5px -10px rgba(0, 0, 0, 0.2);
}

.menu-icon {
  cursor: pointer;
  color: white;
  background: unset;
  margin-right: 1rem;
  transform: scale(1.2);
}

.sidenav {
  width: 250px;
}

.logo-container {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  height: 10vh;
  box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2);
  background-color: white;

  img {
    max-height: 100%;
    margin-left: 1rem;
  }
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;

  li {
    padding: 1.5rem 0 1.5rem 1rem;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    transition: 225ms all ease-in-out;
    mat-icon {
      margin-right: 1rem;
      color: #141d2f;
    }
    &:hover {
      cursor: pointer;
      background: rgba($color: #000000, $alpha: 0.1);
    }
  }

  li:last-of-type {
    position: absolute;
    bottom: 1rem;
    right: 0;
    left: 0;
  }
}

.router-container {
  padding: 1rem;
  height: 90vh;
  box-sizing: border-box;
  overflow-y: scroll;
  background: white;
  background-size: cover;
}

.bg-grey {
  background: #f5f5f5;
}

mat-toolbar {
  background: linear-gradient(to bottom, #4f5c6b, #141d2f) !important;
  height: 10vh;
  box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.2);
}

mat-toolbar-row {
  justify-content: space-between;
  height: 100%;

  div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  h2 {
    margin: 0;
  }

  .notifications-container {
    gap: 1.5rem;
    position: relative;
    img {
      width: 50px;
      cursor: pointer;
    }
    mat-icon {
      transform: scale(1.2);
      cursor: pointer;
      transition: all 225ms ease-in-out;
      &:hover {
        color: grey;
      }
    }
    .color-dot {
      position: absolute;
      right: 0.5rem;
      width: 10px;
      height: 10px;
      border-radius: 100%;
      background-color: green;
      outline: 1px solid white;
      bottom: 0;
    }

    .userinfo-wrapper {
      position: absolute;
      right: 25px;
      top: 100%;
      z-index: 3;
      background: white;
      color: black;
      padding: 1rem 2rem;
      border-bottom-left-radius: 10px;
      border-top-left-radius: 10px;
      border-bottom-right-radius: 10px;
      border: 1px solid #141d2f;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h2 {
        padding-bottom: 7px;
        border-bottom: 2px solid gray;
      }

      div {
        font-weight: 400;
        margin-top: 1rem;
        font-size: 1.1rem;
        transition: 225ms all ease-in-out;
        cursor: pointer;

        mat-icon {
          margin-right: 0.5rem;
        }
      }
    }
  }
}

.screensize-alert {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: none;
  background-color: #141d2f;
  h1 {
    color: white;
    padding: 0 1rem;
    text-align: center;
  }
}

@media screen and (max-width: 1250px) {
  .screensize-alert {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000000;
  }
}




