<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" [(opened)]="opened" #sidenav class="sidenav"
    >

    <div class="logo-container">Platz für Logo</div>
    <ul>
      <li><mat-icon>fact_check</mat-icon>Dashboard</li>
      <li><mat-icon>perm_identity</mat-icon>User</li>
    </ul>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
       
          <mat-icon class="menu-icon" (click)="sidenav.toggle()">menu</mat-icon>
        <span>Simple CRM</span>
      </mat-toolbar-row>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>

<router-outlet></router-outlet>