<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" [(opened)]="opened" #sidenav class="sidenav"
    >

    <div class="logo-container"><img src="assets/img/logo.png" alt="logo"></div>
    <ul>
      <li [routerLink]="['/']"><mat-icon>fact_check</mat-icon>Dashboard</li>
      <li [routerLink]="['/users']"><mat-icon>perm_identity</mat-icon>Users</li>
    </ul>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        
          <mat-icon class="menu-icon" (click)="sidenav.toggle()">menu</mat-icon>
        <span>Simple CRM</span>
      </mat-toolbar-row>
    </mat-toolbar>

    <div class="router-container">
      <router-outlet></router-outlet>
    </div> 
  </mat-sidenav-content>
</mat-sidenav-container>

