.sidenav-container {
  height: 100vh;
}

.mat-drawer-side {
  border-right: 1px solid #141d2f !important;
}

.menu-icon {
  cursor: pointer;
  color: white;
  background: unset;
  margin-right: 1rem;
  transform: scale(1.2);
}

.sidenav {
  width: 250px;
}

.logo-container {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  height: 10vh;
  box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.2);

  img {
    max-height: 100%;
    margin-left: 1rem;
  }
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;

  li {
    padding: 1.5rem 0 1.5rem 1rem;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    transition: 225ms all ease-in-out;
    mat-icon {
      margin-right: 1rem;
      color: #141d2f;
    }
    &:hover {
      cursor: pointer;
      background: rgba($color: #000000, $alpha: 0.1);
    }
  }

 

  li:last-of-type {
    position: absolute;
    bottom: 1rem;
    right: 0;
    left: 0;
  }
}

// .sidenav-placeholder-img {
//   position: absolute;
//   width: 100%;
//   bottom: 1rem;
// }

.router-container {
  padding: 1rem;
  height: 90vh;
  box-sizing: border-box;
  overflow-y: scroll;
  background: white;
}

mat-toolbar {
  background: linear-gradient(to bottom, #4f5c6b, #141d2f) !important;
  height: 10vh;
  box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.2);
}

mat-toolbar-row {
  justify-content: space-between;
  height: 100%;

  div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  h2 {
    margin: 0;
  }

  .notifications-container {
    gap: 1.5rem;
    position: relative;
    img {
      width: 50px;
      cursor: pointer;
    }
    mat-icon {
      transform: scale(1.2);
      cursor: pointer;
      transition: all 225ms ease-in-out;
      &:hover {
        color: grey;
      }
    }
    .color-dot {
      position: absolute;
      right: .5rem;
      width: 10px;
      height: 10px;
      border-radius: 100%;
      background-color: green;
      outline: 1px solid white;
      bottom: 0;
    }
  }

}