<h1 mat-dialog-title class="mat-dialog-title">Delete Client</h1>
<div mat-dialog-content class="mat-dialog-content">
    <h2>Are you sure you want to delete this client's account? </h2>

    <div class="warning-container">
        <mat-icon>warning</mat-icon>
        <p>This action is irreversible and all of the data will be permanently lost. Please proceed with caution.</p>

    </div>

    <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()">Cancel</button>
        <button mat-button cdkFocusInitial [mat-dialog-close]="success" (click)="deleteClientAccount()">Delete</button>
      </div>
</div>