.header-card {
  background: rgba($color: #000000, $alpha: 0.1);
  height: 400px;

  .placeholder-wrapper {
    height: 40%;
  }

  .user-detail-container {
    display: flex;
    align-items: flex-end;
    background: linear-gradient(to bottom, #4f5c6b, #141d2f);
    height: 60%;
    padding-left: 2rem;
    padding-bottom: 3rem;
    position: relative;
    color: white;

    .avatar-wrapper {
      position: absolute;
      top: -50%;
      transform: translateY(30%);
      left: 2rem;
      width: 150px;
      height: 150px;
      border-radius: 100%;
      border: 4px solid white;
      overflow: hidden;

      img {
        object-fit: cover;
        width: 100%;
      }
    }

    .edit-menu-button {
      position: absolute;
      right: 2px;
      top: 2px;
    }

    .send-msg-button {
      position: absolute;
      right: 1rem;
      bottom: 1rem;
      background-color: #29abe2;
      color: white;
      font-size: 1.1rem;
      mat-icon {
        transform: scale(1.1);
      }
    }

    .description-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1rem;

      div {
        display: flex;
        gap: 1rem;
        mat-icon {
          color: #29abe2;
        }
      }
      h1 {
        margin: 0;
      }
      p {
        margin-bottom: 0;
        font-size: 1.1rem;
      }
    }
  }
}

.info-card {
  margin-top: 2rem;
  position: relative;
  background: #f5f5f5;

  mat-card-header {
    font-size: 1.4rem;
    font-weight: 500;
  }

  span {
    color: #29abe2;
    font-weight: 500;
  }

  span,
  p {
    font-size: 1rem;
  }

  p {
    padding-top: 16px;
    padding-left: 16px;
    margin: 0;
  }

  p:last-of-type {
    margin-bottom: 1rem;
  }

  .edit-menu-button {
    position: absolute;
    right: 2px;
    top: 2px;
    
  }
}

.deletion-success {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  mat-icon {
    margin-bottom: 1rem;
    width: 100px;
    height: 100px;
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .deletion-scs-button {
    background: #141d2f;
    color: white;
    border: none;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    margin-top: 1rem;
    border-radius: 25px;
  }
}

.document-container {
  min-height: 400px;
  margin-top: 2rem;
  padding: 16px 16px 0;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  position: relative;
  border: 2px solid #141d2f;

  h1 {
    font-size: 1.4rem;
    font-weight: 500;
  }

  .document-drop-container {
    .document-placeholder {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 8rem;
      

      mat-icon {
        transform: scale(1.5);
        color: #29abe2;
      }

      h2 {
        font-size: 1rem;
        margin: 0;
        margin-left: 1rem;
      }
    }

    .documents-wrapper {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
      padding-bottom: 2rem;
      height: fit-content;
    }
    .pdf-card {
      position: relative;
      border-radius: 1.5rem;
      background-color: lightgray;
      width: 220px;
      height: 150px;
      padding: 1rem;
      cursor: pointer;
      transition: 225ms all ease-in-out;
      &:hover {
        transform: scale(1.1);
      }

      mat-checkbox {
        position: absolute;
        top: -1rem;
        left: -1rem;
      }

      .pdf-title-row {
        display: flex;
        justify-content: center;
        align-items: center;

        p {
          margin: 0;
          margin-left: 0.5rem;
        }

        mat-icon {
          color: #29abe2;
        }
      }

      .pdf-preview-wrapper {
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 7px;
        border-radius: 7px;
        height: 80%;

        mat-icon {
          color: red;
          transform: scale(1.5);
        }
      }
    }
    .pdf-card-no-hover {
      cursor: auto;
      &:hover {
        transform: none;
      }
    }
  }

  .add-btn {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    background: #141d2f !important;
  }

  .edit-document-btn {
    position: absolute;
    bottom: 7rem;
    right: 2rem;
    background: #141d2f !important;
    z-index: 2;
  }

  .edit-document-menu {
    position: absolute;
    background: #f5f5f5;
    bottom: 9rem;
    right: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 1rem;
    z-index: 0;
    border-top-left-radius: 1.9rem;
    border-top-right-radius: 1.9rem;
    border-bottom-left-radius: 1.9rem;
    gap: 0.5rem;
    box-shadow: 0 0 4px 0px rgba($color: #000000, $alpha: 1.0);
    p {
      margin: 0;
      font-size: 1.1rem;
    }

    mat-icon {
      color: red;
      cursor: pointer;
    }
  }
}

.project-container {
  min-height: 400px;
  margin-top: 2rem;
  padding: 16px 16px 0;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  position: relative;
  border: 2px solid #141d2f;
  h1 {
    font-size: 1.4rem;
    font-weight: 500;
  }

  .project-placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8rem;

    mat-icon {
      transform: scale(1.5);
      color: #29abe2;
    }

    h2 {
      font-size: 1rem;
      margin: 0;
      margin-left: 1rem;
    }
  }

  .projects-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding-bottom: 2rem;
    height: fit-content;

    .project-card {
      position: relative;
      border-radius: 1.5rem;
      background-color: white;
      margin-top: 1rem;
      width: 300px;
      height: 200px;
      padding: 1rem;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);

      h3 {
        margin: 0;
        font-weight: 500;
        padding: 4px 28px;
        font-size: 1.2rem;
        background-color: #141d2f;
        color: white;
        width: fit-content;
        border-radius: 15px;
        margin-bottom: 1rem;
        margin-top: 0.5rem;
      }

      h3:last-of-type {
        margin-bottom: unset;
        padding: 0;
        padding-left: 9px;
        position: absolute;
        left: 1rem;
        bottom: 1rem;
        font-size: 0.9rem;
        color: #141d2f;
        background-color: unset;
      }

      p {
        margin: 0;
        padding-left: 9px;
      }

      .red {
        background-color: #ff6666;
      }
      .green {
        background-color: #66cc66;
      }
      .orange {
        background-color: #ff9933;
      }

      .deadline-div {
        height: 4px;
        position: absolute;
        top: 10px;
        width: 65%;
        border-radius: 10px;
      }

      .priority-icon {
        position: absolute;
        right: 1rem;
        bottom: 1.5rem;
      }

      mat-checkbox {
        position: absolute;
        top: -1rem;
        left: -1rem;
      }

      .edit-project-btn {
        position: absolute;
        right: 0.5rem;
        top: 1rem;
      }
    }
  }

  .add-btn {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    background: #141d2f !important;
  }

  .edit-document-btn {
    position: absolute;
    bottom: 7rem;
    right: 2rem;
    background: #141d2f !important;
    z-index: 2;
  }

  .edit-projects-menu {
    position: absolute;
    background: #f5f5f5;
    box-shadow: 0 0 4px 0px rgba($color: #000000, $alpha: 1.0);
    bottom: 9rem;
    right: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 1rem;
    z-index: 0;
    border-top-left-radius: 1.9rem;
    border-top-right-radius: 1.9rem;
    border-bottom-left-radius: 1.9rem;
    gap: 0.5rem;

    p {
      margin: 0;
      font-size: 1.1rem;
    }

    mat-icon {
      color: red;
      cursor: pointer;
    }
  }
}

mat-spinner {
  margin-bottom: 1rem;
  transform: scale(0.8);
}

.mat-mdc-progress-spinner {
  --mdc-circular-progress-active-indicator-color: #141d2f;
}
