<div *ngIf="userData && !userDeleted">
  <mat-card class="header-card">
    <div class="user-detail-container">
      <div>
        <img
          [src]="
            userData.female
              ? 'assets/img/avatar_female.png'
              : 'assets/img/avatar_male.png'
          "
          alt="default-avatar"
          *ngIf="!customAvatar"
          class="standard-avatar"
        />
        <img [src]="customAvatar" alt="custom-avatar" *ngIf="customAvatar" class="custom-avatar"/>
        <div class="description-container">
          <h1>{{ userData.firstname + " " + userData.lastname }}</h1>
          <p>{{ userData.email }}</p>
        </div>
      </div>
      <button
        mat-icon-button
        class="edit-menu-button"
        [matMenuTriggerFor]="menu0"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu0="matMenu">
        <button
          mat-menu-item
          (click)="
            editDataDialog({
              firstname: userData.firstname,
              lastname: userData.lastname,
              placeholder: 'Name'
            })
          "
        >
          Edit Name<mat-icon>mode_edit</mat-icon>
        </button>
        <button
          mat-menu-item
          (click)="deleteClientDialog()"
        >
          Delete Client <mat-icon>delete_forever</mat-icon>
        </button>
      </mat-menu>
    </div>
  </mat-card>

  <mat-card class="info-card">
    <mat-card-header> Contact </mat-card-header>
    <p>
      Adress: {{ userData.adress }} | {{ userData.zipcode }},
      {{ userData.city }}
    </p>
    <p>Email: {{ userData.email }}</p>
    <p>Affiliated Company: {{ userData.company }}</p>
    <button
      mat-icon-button
      class="edit-menu-button"
      [matMenuTriggerFor]="menu1"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu1="matMenu">
      <button
        mat-menu-item
        (click)="
          editDataDialog({
            adress: userData.adress,
            zipcode: userData.zipcode,
            city: userData.city,
            email: userData.email,
            company: userData.company,
            placeholder: 'Contact Data'
          })
        "
      >
        Edit <mat-icon>mode_edit</mat-icon>
      </button>
    </mat-menu>
  </mat-card>

  <mat-card class="info-card">
    <mat-card-header> Personal Data </mat-card-header>
    <p>Gender: {{ userData.female ? "female" : "male" }}</p>
    <p>
      Birthday: {{ userData.birthday.toDate().toISOString().split("T")[0] }}
    </p>
    <button
      mat-icon-button
      class="edit-menu-button"
      [matMenuTriggerFor]="menu2"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu2="matMenu">
      <button
        mat-menu-item
        (click)="
          editDataDialog({
            female: userData.female,
            birthday: userData.birthday,
            placeholder: 'Personal Data'
          })
        "
      >
        Edit <mat-icon>mode_edit</mat-icon>
      </button>
    </mat-menu>
  </mat-card>
</div>

<div *ngIf="userDeleted" class="deletion-success">

  <mat-icon class="delete-icon-big">delete_sweep</mat-icon>
  <h1>
    Client Account deletion successful.  
  </h1>

  <button [routerLink]="['/users']">
    Go back to client overview
  </button>
</div>

