.header-card {
  background: linear-gradient(to top left, #f9b44d, #f3961f);
  height: 300px;

  .user-detail-container {
    display: flex;
    align-items: flex-end;
    height: 100%;
    padding-left: 1rem;
    padding-bottom: 1rem;
    position: relative;
    div {
      display: flex;
      align-items: center;

      .avatar-container {
        position: relative;

        .add-photo-icon {
          color: white;
          z-index: 1;
          position: absolute;
          bottom: 0;
          right: 1rem;
          transition: 225ms all ease-in-out;
          cursor: pointer;

          &:hover {
            transform: scale(1.1);

          }
        }

        .standard-avatar {
          width: 120px;
        }
        .custom-avatar {
          width: 135px;
          height: 135px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
      
    }
    .edit-menu-button {
      position: absolute;
      right: 2px;
      top: 2px;
      color: white;
    }
  }

  .description-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2rem;
    align-items: unset !important;
    color: white;

    h1 {
      margin: 0;
    }
    p {
      margin-bottom: 0;
    }
  }
}

.info-card {
  margin-top: 2rem;
  position: relative;
  mat-card-header {
    font-size: 1.4rem;
    font-weight: 500;
  }

  p {
    padding-top: 16px;
    padding-left: 16px;
    margin: 0;
  }

  p:last-of-type {
    margin-bottom: 1rem;
  }

  .edit-menu-button {
    position: absolute;
    right: 2px;
    top: 2px;
  }
}



.deletion-success {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  mat-icon {
    margin-bottom: 1rem;
    width: 100px;
    height: 100px;
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.document-container {
  height: 400px;
  margin-top: 2rem;
  padding: 16px 16px 0;
  background: white;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  border-radius: 4px;
  position: relative;


  h1 {
    font-size: 1.4rem;
    font-weight: 500;
  }
 
  .document-drop-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    .document-placeholder {
      display: flex;
      align-items: center;
      margin-bottom: 6rem;

      mat-icon {
        transform: scale(1.5);
      }

      h2 {
        font-size: 1rem;
        margin: 0;
        margin-left: 1rem;
      }
    }
  }

  .add-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
    background: #6D5BD8 !important;
  }

}