<div *ngIf="userData && !userDeleted">
  <mat-card class="header-card">
    <div class="placeholder-wrapper"></div>
    <div class="user-detail-container">
      <div class="avatar-wrapper">
        <img
          [src]="
            userData.female
              ? 'assets/img/avatar_female.jpg'
              : 'assets/img/avatar_male.jpg'
          "
          alt="default-avatar"
          *ngIf="!customAvatar"
          class="standard-avatar avatar"
        />
        <img
          [src]="customAvatar"
          alt="custom-avatar"
          *ngIf="customAvatar"
          class="custom-avatar avatar"
        />

        <mat-icon class="add-photo-icon" *ngIf="!customAvatar"
          >add_a_photo</mat-icon
        >
      </div>

      <div class="description-container">
        <h1>{{ userData.firstname + " " + userData.lastname }}</h1>
        <div>
          <mat-icon>pin_drop</mat-icon>
          <p>
            {{ userData.adress }} | {{ userData.zipcode }},
            {{ userData.city }}
          </p>
        </div>
        <div>
          <mat-icon>contact_page</mat-icon>
          <p>{{ userData.email }} | {{ userData.company }}</p>
        </div>
      </div>
      <button mat-button class="send-msg-button">
        <mat-icon>send</mat-icon>
        Message
      </button>
      <button
        mat-icon-button
        class="edit-menu-button"
        [matMenuTriggerFor]="menu0"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu0="matMenu">
        <button
          mat-menu-item
          (click)="
            editDataDialog({
              firstname: userData.firstname,
              lastname: userData.lastname,
              placeholder: 'Name'
            })
          "
        >
          Edit Name<mat-icon>mode_edit</mat-icon>
        </button>
        <button mat-menu-item (click)="deleteClientDialog()">
          Delete Client <mat-icon>delete_forever</mat-icon>
        </button>
      </mat-menu>
    </div>
  </mat-card>

  <mat-card class="info-card">
    <mat-card-header> Contact </mat-card-header>
    <p>
      <span>Adress:</span> {{ userData.adress }} | {{ userData.zipcode }},
      {{ userData.city }}
    </p>
    <p><span>Email:</span> {{ userData.email }}</p>

    <button
      mat-icon-button
      class="edit-menu-button"
      [matMenuTriggerFor]="menu1"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu1="matMenu">
      <button
        mat-menu-item
        (click)="
          editDataDialog({
            adress: userData.adress,
            zipcode: userData.zipcode,
            city: userData.city,
            email: userData.email,
            company: userData.company,
            placeholder: 'Contact Data'
          })
        "
      >
        Edit <mat-icon>mode_edit</mat-icon>
      </button>
    </mat-menu>
  </mat-card>

  <mat-card class="info-card">
    <mat-card-header> Personal Data </mat-card-header>
    <p><span>Gender:</span> {{ userData.female ? "female" : "male" }}</p>
    <p>
      <span>Birthday:</span>
      {{ userData.birthday.toDate().toISOString().split("T")[0] }}
    </p>
    <button
      mat-icon-button
      class="edit-menu-button"
      [matMenuTriggerFor]="menu2"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu2="matMenu">
      <button
        mat-menu-item
        (click)="
          editDataDialog({
            female: userData.female,
            male: userData.male,
            birthday: userData.birthday.toDate(),
            placeholder: 'Personal Data'
          })
        "
      >
        Edit <mat-icon>mode_edit</mat-icon>
      </button>
    </mat-menu>
  </mat-card>
  <mat-card class="info-card">
    <mat-card-header> Company Data </mat-card-header>
    <p><span>Company:</span> {{ userData.company }}</p>
    <p><span>Website:</span> {{ userData.website }}</p>
    <button
      mat-icon-button
      class="edit-menu-button"
      [matMenuTriggerFor]="menu3"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu3="matMenu">
      <button
        mat-menu-item
        (click)="
          editDataDialog({
            company: userData.company,
            website: userData.website,
            placeholder: 'Company Data'
          })
        "
      >
        Edit <mat-icon>mode_edit</mat-icon>
      </button>
    </mat-menu>
  </mat-card>

  <div class="document-container">
    <h1>Documents</h1>
    <div class="document-drop-container">
      <div
        class="document-placeholder"
        *ngIf="!documents || documents.length === 0"
      >
        <mat-icon>article</mat-icon>
        <h2>No documents uploaded. Click on plus icon to upload new</h2>
      </div>
      <div *ngIf="documents" class="documents-wrapper">
        <div
          *ngFor="let document of documents; let i = index"
          [ngClass]="{ 'pdf-card': true, 'pdf-card-no-hover': editMenuOpen1 }"
          (click)="!editMenuOpen1 && openPDF(document)"
        >
          <mat-checkbox
            (click)="$event.stopPropagation()"
            color="primary"
            class="edit-checkbox"
            *ngIf="editMenuOpen1"
            [(ngModel)]="document.selected"
          >
          </mat-checkbox>
          <div class="pdf-title-row">
            <mat-icon>article</mat-icon>
            <p>{{ document.doc.name }}</p>
          </div>
          <div class="pdf-preview-wrapper">
            <mat-icon>picture_as_pdf</mat-icon>
          </div>
        </div>
      </div>
    </div>
    <button
      mat-fab
      matTooltip="Upload Document"
      class="add-btn"
      (click)="uploadDocumentDialog()"
    >
      <mat-icon>add</mat-icon>
    </button>
    <button
      mat-fab
      matTooltip="Delete Documents"
      class="edit-document-btn"
      (click)="toggleEditMenu()"
    >
      <mat-icon>delete</mat-icon>
    </button>
    <div class="edit-document-menu" *ngIf="editMenuOpen1" [@enterAnimation]>
      <mat-icon (click)="deleteDocuments()">delete</mat-icon>
      <p>Delete</p>
      <p>{{ getSelectedDocumentsCount() }} Document(s)</p>
    </div>
  </div>
  <div class="project-container">
    <h1>Projects</h1>
    <div
    class="project-placeholder"
    *ngIf="userData.projects.length === 0 || isObjectEmpty(userData.projects)"
  >
    <mat-icon>article</mat-icon>
    <h2>No Projects created. Click on plus icon to create new</h2>
  </div>
    <div class="projects-wrapper" *ngIf="userData.projects.length > 0">
      <div  *ngFor="let project of userData.projects; let i = index" class="project-card" >
        <h3>{{project.title}}</h3>
        <p>
          {{project.description}}
        </p>
        <h3>Deadline: {{project.deadline}}</h3>
        <img [src]="'assets/img/' + getDeadlineClass(project, 1)" alt="priority-icon" class="priority-icon">
        <div [ngClass]="[getDeadlineClass(project, 0), 'deadline-div']"></div>
        <button
        mat-icon-button
        class="edit-project-btn"
        (click)="projectDialog(i)"
        >
        <mat-icon>more_vert</mat-icon>
      </button>
        <mat-checkbox
            (click)="$event.stopPropagation()"
            color="primary"
            class="edit-checkbox"
            *ngIf="editMenuOpen2"
            [(ngModel)]="project.selected"
          >
          </mat-checkbox>
      </div>
    </div>
   
    <button
      mat-fab
      matTooltip="Create project"
      class="add-btn"
      (click)="addProjectDialog()"
    >
      <mat-icon>add</mat-icon>
    </button>
    <button
      mat-fab
      matTooltip="Delete Documents"
      class="edit-document-btn"
      (click)="toggleEditMenu(1)"
    >
      <mat-icon>delete</mat-icon>
    </button>
    <div class="edit-projects-menu" *ngIf="editMenuOpen2" [@enterAnimation]>
      <mat-icon (click)="deleteProjects()">delete</mat-icon>
      <p>Delete</p>
      <p>{{ getSelectedProjectsCount() }} Projects(s)</p>
    </div>
  </div>
</div>

<div *ngIf="userDeleted" class="deletion-success">
  <mat-icon class="delete-icon-big">delete_sweep</mat-icon>
  <h1>Account deletion successful.</h1>

  <button class="deletion-scs-button" [routerLink]="['/users']">
    Go back to client overview
  </button>
</div>

<div *ngIf="!userDeleted && !userData" class="deletion-success">
  <mat-spinner></mat-spinner>
  <h1>Loading client data</h1>
</div>
