.searchbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  margin-top: 1rem;

  h1 {
    margin: 0;
  }

  .search-form-field .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }

  .search-items-wrapper {
    display: flex;

    #search-form {
      align-self: start;
    }

    #filter-form {
      box-shadow: none;
      border: 1px solid rgba($color: #000000, $alpha: 0.4);
      mat-expansion-panel-header {
        font-size: 1rem;
        font-weight: 400;
        color: rgba($color: #000000, $alpha: 0.5);
        padding-top: 6px;
        padding-left: 50px;
        padding-right: 50px;

        mat-icon {
          margin-right: 0.5rem;
        }

        span:first-of-type {
          margin-right: 2rem;
        }
        .mat-expansion-indicator::after {
          margin-bottom: 9px;
        }
      }

      .filter-option {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0.5rem;

        p {
          margin: 0;
          margin-right: 1rem;
          vertical-align: middle;
          font-size: 1rem;
        }
      }

      .button-wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 1.5rem;
        gap: 1rem;

        button {
          padding: 11px;
          border: radius;
          border-radius: 10px;
          border: none;
          color: white;
          font-size: 1rem;
          background-color: #3f4b6c;
          cursor: pointer;
          transition: 225ms all ease-in-out;

          &:hover {
            background-color: #141d2f;
          }
        }
      }
    }
  }
}

.table-wrapper {
  max-height: 65vh;
  overflow-y: auto;
  overflow-x: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
}

table {
  border-collapse: collapse;
}

tr:nth-of-type(odd) {
  background-color: rgba($color: #000000, $alpha: 0.1);
}

tr:first-of-type {
  background: linear-gradient(to bottom, #4f5c6b, #141d2f);
  color: white;
  position: sticky;
  top: 0;
}

th {
  font-weight: 500;
  font-size: 1rem;
  padding: 1rem 0 1rem 1rem;
}

td {
  text-align: center;
  padding: 2rem 0 2rem 1rem;
  font-size: 1rem;

  mat-icon {
    vertical-align: bottom;
    color: #29abe2;
    transform: rotate(-35deg);
    margin-left: 5px;
  }
}

.send-mail {
  cursor: pointer;
  transition: 125ms all ease-in-out;
  &:hover {
    transform: scale(1.1);
    transition: 125ms;
  }
}

.details-hover {
  color: #29abe2;
  transition: 225ms all ease-in-out;
  &:hover {
    cursor: pointer;
    color: #3f4b6c;
  }
}

// .data-row {
//     transition: 225ms all ease-in-out;
//     &:hover {
//         background: rgba($color: orange, $alpha: .3);
//         cursor: pointer;
//     }
// }

#add-user-btn {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  background: #141d2f !important;
}

.stats-container {
  position: absolute;
  bottom: 2rem;
  left: 1rem;
  display: flex;

  h3 {
    margin: 0;
    font-weight: 500;
    color: #141d2f;
    font-size: 1.1rem;
  }
}


.modified-mc-content {
  height: 0;
  padding-top: 0 !important;

  ::-webkit-scrollbar {
    display: none;
  }
}

.modified-mc-content > mat-expansion-panel {
  z-index: 1;
}

.modified-mc-content > mat-expansion-panel > .mat-expansion-panel-content {
  max-height: 50vh;
  overflow: auto;
}

.modified-mc-content mat-chip {
  height: auto;
}