.searchbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  margin-top: 1rem;

  h1 {
    margin: 0;
  }

  .search-form-field .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }
}

table {
  border-collapse: collapse;
}

tr:nth-of-type(odd) {
  background-color: rgba($color: #000000, $alpha: 0.1);
}

tr:first-of-type {
  background-color: #3f4b6c;
  color: white;
}

th {
  font-weight: 500;
  font-size: 1rem;
  padding: 1rem 0 1rem 1rem;
}

td {
  text-align: center;
  padding: 2rem 0 2rem 1rem;
  font-size: 1rem;

  mat-icon {
    vertical-align: inherit;
    color: #FFA500;
  }
}

.send-mail {
  cursor: pointer;
  transition: 125ms all ease-in-out;
  &:hover {
    transform: scale(1.1);
    transition: 125ms;
  }
}

.details-hover {
  color: #29abe2;
  transition: 225ms all ease-in-out;
  &:hover {
    cursor: pointer;
    color: #3f4b6c;
  }
}

// .data-row {
//     transition: 225ms all ease-in-out;
//     &:hover {
//         background: rgba($color: orange, $alpha: .3);
//         cursor: pointer;
//     }
// }

#add-user-btn {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  background: #141d2f !important;
}
