table {
    border-collapse: collapse;
}


tr {
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.87);
}

tr:first-of-type {
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2);
}

tr:last-of-type {
    border-bottom: unset;
}

th {
    color: rgba($color: #000000, $alpha: 0.4);
    font-weight: 500;
  }
    
td {
    text-align: center;
}

th, td {
    padding: 1rem 0;
}

.data-row {
    transition: 225ms all ease-in-out;
    &:hover {
        background: rgba($color: #000000, $alpha: .1);
        cursor: pointer;
    }
}


.add-user-btn {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    background: #6D5BD8 !important;
}