<h1 mat-dialog-title class="mat-dialog-title">Edit {{data.data.placeholder}}</h1>
<div mat-dialog-content class="mat-dialog-content">
  <ng-container *ngFor="let item of data.data | keyvalue let i= index trackBy: trackByFn">
    <mat-form-field appearance="outline" *ngIf="item.key !== 'placeholder'">
      <mat-label>Edit</mat-label>
      <input
       
        matInput
        [(ngModel)]="data.data[$any(item.key)]"
        [value]= "item.value"
      />
    </mat-form-field>
  </ng-container>
   
</div>
<div mat-dialog-actions>
    <button mat-button (click)="closeDialog()">Cancel</button>
    <button mat-button cdkFocusInitial (click)="updateData()">Ok</button>
</div>
  

