.dashboard {
    height: calc(100vh - 100px);
    display: flex;
    align-items: center;
    flex-direction: column;

    .widget-container {
        width: 100%;
        padding: 8rem 1rem 1rem 1rem;
        box-sizing: border-box;
        height: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
        .widget {
            padding: 1rem;
            // border: 1px solid pink;
            cursor: pointer;
            width: fit-content;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: #ffffff;
            box-shadow: 0px 0px 4px rgb(0 0 0 / 10%);
            border-radius: 30px;
            text-align: center;
            height: 150px;
            width: 250px;

            h2 {
                margin: 0;
            }

            .fetching-weather-container {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

               
            }
        }

        .widget.notifications {
            height: unset;
            width: 100%;
        }

        
    }

    .add-user-btn {
        position: absolute;
        bottom: 2rem;
        right: 2rem;
        background: #6D5BD8 !important;
    }

    .add-outlook-btn {
        background: #6D5BD8 !important;      
        margin-top: 1rem;  
    }
}

mat-spinner {
    margin-top: 1rem;
}
