.dashboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
  height: 100%;
  position: relative;
  max-width: 1500px;

  .widget {
    padding: 1rem;
    z-index: 2;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 30%);
    border-radius: 30px;
    text-align: center;
    background-color: white;

    h2 {
      margin: 0;
    }

    .fetching-weather-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: white;
    }

    .widget-description-container {
      display: flex;
      align-items: center;

      mat-icon {
        margin-right: 1rem;
      }
    }
  }

  .widget.news {
    grid-column: 3 / span 1;
    grid-row: 1 / span 2;
    justify-content: flex-start;
    position: relative;
    .news-container {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin-top: 1rem;
      width: 100%;
      height: 100%;

      .article {
        display: flex;
        column-gap: 1rem;
        justify-content: space-between;
        align-items: center;

        img {
          width: 70px;
          height: 70px;
          border-radius: 100%;
          object-fit: cover;
        }

        p {
          margin: 0;
          font-size: 1rem;
        }

        a {
          color: #29abe2;
        }
      }
    }
  }

  .widget.weather,
  .widget.date {
    cursor: auto;
  }

  .widget.weather img {
    width: 300px;
  }

  .widget.weather {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    background-image: url("/assets/img/curve_vector.png"),
      linear-gradient(to bottom, #4f5c6b, #141d2f);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right 0% bottom 160%;
    color: white;

    .greeting {
      display: flex;
      gap: 0.5rem;

      h1 {
        font-size: 2rem;
        margin: 0;
      }
    }

    .data {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
    }
  }

  .widget.notepad {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    cursor: pointer;
    position: relative;
    grid-column: 3;
    grid-row: 3;
    .frozen-glass {
      position: absolute;
      height: 15px;
      bottom: 2rem;
      left: 0;
      width: 100%;
      background: linear-gradient(to bottom, transparent, white);
    }

    .placeholder {
      margin: 0;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, 10%);
    }

    .notes-container {
      width: 100%;
      margin-top: 1rem;
      margin-bottom: 1rem;
      overflow-y: auto;

      &::-webkit-scrollbar {
        display: none;
      }

      ul {
        list-style: none;
        padding: 0;
      }

      ul li {
        display: flex;
        margin-bottom: 1rem;
        align-items: center;
        font-size: 1rem;

        mat-icon {
          margin-right: 5px;
          color: #141d2f;
        }

        mat-icon:last-of-type {
          margin-left: 5px;
        }
      }

      ul li::before {
        content: "\e5cc";
        font-family: "Material Icons";
        margin-right: 1rem;
        text-align: left;
        transform: scale(2);
        color: gray;
      }
    }
  }
  .widget.notifications {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    cursor: pointer;
    position: relative;
    grid-column: 1;
    grid-row: 3;
    .frozen-glass {
      position: absolute;
      height: 15px;
      bottom: 2rem;
      left: 0;
      width: 100%;
      background: linear-gradient(to bottom, transparent, white);
    }

    .placeholder {
      margin: 0;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, 10%);
    }

    .events-container {
      width: 100%;
      margin-top: 1rem;
      margin-bottom: 1rem;
      overflow-y: auto;

      &::-webkit-scrollbar {
        display: none;
      }

      ul {
        list-style: none;
        padding: 0;
      }

      ul li {
        display: flex;
        margin-bottom: 1rem;
        align-items: center;
        font-size: 1rem;

        .event-wrapper {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          div {
            display: flex;
            align-items: center;
            mat-icon {
              margin-right: 5px;
              color: #141d2f;
            }

            mat-icon:last-of-type {
              margin-left: 5px;
            }
          }
        }
      }

      ul li::before {
        content: "\e5cc";
        font-family: "Material Icons";
        margin-right: 1rem;
        text-align: left;
        transform: scale(2);
        color: gray;
      }
    }
  }

  .widget.calendar {
    grid-column: 2;
    grid-row: 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    cursor: pointer;
  }
}

mat-spinner {
  margin-top: 1rem;
  transform: scale(0.8);
}

.mat-mdc-progress-spinner {
  --mdc-circular-progress-active-indicator-color: #29abe2;;
}

app-calendar-component {
  width: 100%;
}

.widget-icon {
  width: 70px;
  margin-right: 1rem;
}

.widget-icon.clock {
  margin-right: unset;
  margin-top: 1rem;
}

.widget-icon.calendar,
.widget-icon.news {
  width: 55px;
}

#calendar-icon {
  margin-right: 1rem;
  vertical-align: middle;
  color: #29abe2;
  transform: scale(1.2);
}

.widget-user-prompt {
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.news-buffer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}


.error {
  mat-icon {
      transform: scale(2.5);
      color: red;
  }

}



@media screen and (max-height: 750px) {
  .dashboard {
    height: unset;
  }
}

@media screen and (max-width: 1400px) {
  .widget.news {

    .news-container {
      
      .article {
        
        .article-text {
          font-size: unset !important;
        }

       
      }
    }
  }
}
