<div class="dashboard">
  <h1>Welcome User!</h1>
  <div class="widget-container">
    <div
      class="widget date"
      cdkDrag
      cdkDragBoundary=".widget-container"
      #widget
      (cdkDragEnded)="getWidgetFinalPos($event)"
    >
      <h2>
        {{ formattedDate }}
      </h2>
    </div>

    <div
      class="widget weather"
      cdkDrag
      cdkDragBoundary=".widget-container"
      #widget
      (cdkDragEnded)="getWidgetFinalPos($event)"
    >
      <div *ngIf="cityName && temperature">
        <h2>
          {{ cityName }}
        </h2>
        <h2>{{ temperature }} C°</h2>
        <img [src]="'assets/img/icons/' + weatherIcon + '.svg'" alt="">
      </div>

      <div *ngIf="!cityName && !temperature" class="fetching-weather-container">
        <h2>Fetching weather data</h2>
        <mat-spinner></mat-spinner>
      </div>
    </div>
    <div
      class="widget notifications"
      cdkDrag
      cdkDragBoundary=".widget-container"
      #widget
      (cdkDragEnded)="getWidgetFinalPos($event)"
    >   

        <mat-icon>notifications</mat-icon>
        <h2>Notifications</h2>
       
    </div>
    <div
      class="widget calendar"
      cdkDrag
      cdkDragBoundary=".widget-container"
      #widget
      (cdkDragEnded)="getWidgetFinalPos($event)"
      (click)="openCalendarViewDialog()"
    >   
        <mat-icon>calendar_month</mat-icon>
        <h2>Client Calendar</h2>
    </div>
    <div
      class="widget todo"
      cdkDrag
      cdkDragBoundary=".widget-container"
      #widget
      (cdkDragEnded)="getWidgetFinalPos($event)"
    >   
        <mat-icon>description</mat-icon>
        <h2>Notepad</h2>
    </div>
  </div>
  <button mat-fab class="add-user-btn" matTooltip="Add new Widget to dashboard" (click)="openAddWidgetDialog()">
    <mat-icon>add</mat-icon>
  </button>
</div>
