.dashboard {
    height: calc(100vh - 100px);
    border: 1px solid red;
    display: flex;
    align-items: center;
    flex-direction: column;

    .widget-container {
        border: 1px solid blue;
        width: 100%;
        padding: 1rem;
        box-sizing: border-box;
        height: 100%;
        
        .widget {
            padding: 1rem;
            // border: 1px solid pink;
            cursor: pointer;
            width: fit-content;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 13px;
            background: #ffffff;
            box-shadow: 0px 0px 4px rgb(0 0 0 / 10%);
            border-radius: 30px;
            text-align: center;
            min-height: 100px;

            .fetching-weather-container {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                h2 {
                    margin-bottom: 1rem;
                }
            }
        }

        .widget.date {
           h2 {
            margin: 0;
           }
        }

        .widget.weather {
            h2 {
                margin: 0;
            }
        }
        
    }
}