<div class="dashboard">
  <div class="widget-container">
    <div
      class="widget date"
      cdkDrag
      cdkDragBoundary=".widget-container"
      #widget
      (cdkDragEnded)="getWidgetFinalPos($event)"
    >
      <h2>
        {{ formattedDate }}
      </h2>
      <img src="assets/img/clock.png" alt="" class="widget-icon clock" />
    </div>

    <div
      class="widget weather"
      cdkDrag
      cdkDragBoundary=".widget-container"
      #widget
      (cdkDragEnded)="getWidgetFinalPos($event)"
    >
      <div *ngIf="cityName && temperature">
        <h2>
          {{ cityName }}
        </h2>
        <h2>{{ temperature }} C°</h2>
        <img [src]="'assets/img/icons/' + weatherIcon + '.svg'" alt="" />
      </div>

      <div *ngIf="!cityName && !temperature" class="fetching-weather-container">
        <h2>Fetching weather data</h2>
        <mat-spinner></mat-spinner>
      </div>
    </div>
    <div
      class="widget notifications"
      cdkDrag
      cdkDragBoundary=".widget-container"
      #widget
      (cdkDragEnded)="getWidgetFinalPos($event)"
    >
      <div class="widget-description-container">
        <img src="assets/img/notifications.png" alt="" class="widget-icon" />
        <h2>Notifications</h2>
      </div>
      <div *ngIf="events && events.length === 0">
        <p class="placeholder">No notifications.</p>
      </div>
      <div class="notifications-container" *ngIf="events && events.length > 0">
        <ul>
          <li *ngFor="let event of events">
            Event alert: {{ event.start.toDate().toISOString().split("T")[0] }};
            {{ event.title }}
          </li>
        </ul>
      </div>
    </div>
    <div
      class="widget calendar"
      cdkDrag
      cdkDragBoundary=".widget-container"
      #widget
      (cdkDragStarted)="dragging = true"
      (click)="openCalendarViewDialog()"
      (cdkDragEnded)="getWidgetFinalPos($event)"
    >
      <div class="widget-description-container">
        <img
          src="assets/img/calendar.png"
          alt=""
          class="widget-icon calendar"
        />
        <h2>Client Calendar</h2>
      </div>
    </div>
    <div
      class="widget notepad"
      cdkDrag
      cdkDragBoundary=".widget-container"
      #widget
      (cdkDragStarted)="dragging = true"
      (cdkDragEnded)="getWidgetFinalPos($event)"
      (click)="openNotepadDialog(notes)"
    >
      <div class="widget-description-container">
        <img src="assets/img/notes.png" alt="" class="widget-icon" />
        <h2>Notepad</h2>
      </div>
      <div *ngIf="notes && notes[0] && notes[0].notes.length === 0">
        <p class="placeholder">No notes in storage yet.</p>
      </div>
      <div
        class="notes-container"
        *ngIf="notes && notes[0] && notes[0].notes.length > 0"
      >
        <ul>
          <li *ngFor="let note of notes[0].notes">
            {{ note }}
          </li>
        </ul>
      </div>
      <div class="frozen-glass"></div>
    </div>
  </div>
</div>
