/* You can add global styles to this file, and also import other style files */
@import "../node_modules/angular-calendar/css/angular-calendar.css";


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.flatpickr-months {
    display: none !important;
}

.flatpickr-innerContainer {
    display: none !important;
}

.flatpickr-time {
    display: none !important;
}

.custom-modalbox  {
    max-height: 90% !important;
    width: 60% !important;
    overflow-y: auto !important;

    .mat-mdc-dialog-surface {
        padding: 1rem 1rem 2rem 1rem !important;
    }
}


.notepad-box {
    min-width: 40% !important;
    
}